[Desktop Entry]
Type=Application
Name=Appsettings To Env
Comment=Convert appsettings.json to environment variables
Exec=appsettingstoenv
Icon=appsettingstoenv
Terminal=false
Categories=Development;Utility;
